# Backend
backend/venv/
backend/.env
backend/__pycache__/
backend/*.db
backend/.pytest_cache/

# Frontend
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# Mobile (Flutter)
mobile/.dart_tool/
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.packages
mobile/lib/generated/
mobile/.env
mobile/ios/Flutter/Generated.xcconfig
mobile/ios/Flutter/flutter_export_environment.sh
mobile/android/local.properties
mobile/android/key.properties
