DATABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@db.kvtyxpotibsddpnoqzsv.supabase.co:5432/postgres
SECRET_KEY=9a7c36a4bb0dbde6d2b380d32f5f19bb4486fb79a32c25389d4fb97a829ba8f5
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=480
PROJECT_NAME=HRMS Portal API
